:root {
  --theme-color-h: 147;
  --theme-color-s: 93%;
  --theme-color-l: 38%;
  --theme-color-raw: var(--theme-color-h), var(--theme-color-s), var(--theme-color-l);
  --theme-color: hsl(var(--theme-color-raw));
}
