/* stylelint-disable custom-property-empty-line-before */
:root {
  --nav-bar-height: 48px;
  --nav-bar-max-height: 44px;
  --nav-bar-bg-color: rgba(0, 0, 0, 0.8);

  --nav-bar__container-max-width: 1440px;
}
